<footer class="bg-[#1E293B] px-16 py-10">
    <div class="flex  justify-between">
        <div class="flex flex-col gap-2">
            <div class="flex gap-[2px] items-center">
                <img src="../../assets/logo.png" alt="" class="w-[31px] h-[40px]">
                <h2 class="font-sans font-medium text-white text-[25px]">Byway</h2>
            </div>
            <p class="text-[#CBD5E1] text-[14px] w-[416px]">
                Empowering learners through accessible and engaging online education.
                Byway is a leading online learning platform dedicated to providing high-quality, 
                flexible, and affordable educational experiences. 
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="font-bold text-[18px] text-white leading-6">Get Help</h1>
            <div class="flex flex-col gap-2">
                <p class="text-[#CBD5E1] text-[14px]">Contact Us</p>
                <p class="text-[#CBD5E1] text-[14px]">Latest Articles</p>
                <p class="text-[#CBD5E1] text-[14px]">FAQ</p>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="font-bold text-[18px] text-white leading-6">Programs</h1>
            <div class="flex flex-col gap-2">
                <p class="text-[#CBD5E1] text-[14px]">Art & Design</p>
                <p class="text-[#CBD5E1] text-[14px]">Business</p>
                <p class="text-[#CBD5E1] text-[14px]">IT & Software</p>
                <p class="text-[#CBD5E1] text-[14px]">Languages</p>
                <p class="text-[#CBD5E1] text-[14px]">Programming</p>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="font-bold text-[18px] text-white leading-6">Contact Us</h1>
            <div class="flex flex-col gap-2">
                <p class="text-[#CBD5E1] text-[14px]">Address: 123 Main Street, Anytown, CA 12345</p>
                <p class="text-[#CBD5E1] text-[14px]">Tel: +(123) 456-7890</p>
                <p class="text-[#CBD5E1] text-[14px]">Mail: bywayeduwebkul.in</p>
                <img src="../../assets/soc-icons.png" alt="">
            </div>
        </div>
    </div>
</footer>
