<nav class="px-16 py-3 flex items-center justify-between shadow-sm">
    <div class="flex gap-[2px] items-center">
        <img src="../../assets/logo.png" alt="" class="w-[31px] h-[40px]">
        <h2 class="font-sans font-medium">Byway</h2>
    </div>
    <p class="text-[#334155] text-[14px] font-medium">Categories</p>
    <div class="flex items-center border-solid border-[2px] border-[#64748B] rounded-lg px-4 py-2 w-[700px]">
        <img src="../../assets/search-icon.png" class="mr-2"/>
        <input type="text" class="outline-none w-full text-[#64748B]" placeholder="Search Courses">
    </div>
    <p class="text-[#334155] text-[14px] font-medium">Teach on Byway</p>
    <div class="flex items-center gap-6">
        <img src="../../assets/cart-icon.png" alt="">
        <button class="text-[#334155] border-[#334155] border-solid border-[2px] px-4 py-2 font-medium">Log In</button>
        <button class="bg-[#334155] border-[#334155] border-solid border-[2px] px-4 py-2 font-medium text-white">Sign Up</button>
    </div>
</nav>
