<div class="rounded-xl border-[1px] border-solid border-[#E2E8F0] px-4 py-4 shadow-md flex flex-col items-start shadow-[#3B82F61F] gap-4">
    <img src="../../assets/marker.png"/>
    <p class="text-[16px] leading-6">
        {{comment}}
         
    </p>
    <div class="flex items-center gap-2">
        <img [src]="imageUrl" class="w-[60px] h-[60px] rounded-full"/>
        <div class="flex flex-col gap-3">
            <h2 class="font-bold text-[18px]">{{fullName}}</h2>
            <p class="text-[#334155] text-[14px]">{{profession}}</p>
            
        </div>
    </div>
</div>
