<div class="">
    <div class="flex items-center justify-between h-[100vh] px-16 py-3">
        <div class="flex flex-col gap-3 justify-items-start ">
            <h1 class="text-[40px] leading-14 text-[#0F172A] font-bold w-[480px]">Unlock Your Potential with Byway</h1>
            <h3 class="text-[#64748B] w-[590px]">Welcome to Byway, where learning knows no bounds. We believe that education is the key to 
                personal and professional growth, and we're here to guide you on your journey to success. 
                Whether you're a student, professional, or lifelong learner, 
                our cutting-edge Learning Management System is designed to elevate your learning experience.
            </h3>
            <button class="bg-[#2563EB] text-white font-medium rounded-md py-3 max-w-max px-4">Start your instructor journey</button>
        </div>
        <img src="../../../assets/banner-image.png"/>
    </div>
    <div class="bg-[#F8FAFC] flex items-center justify-between px-16 py-8">
        <div class="flex flex-col items-center border-r-4 pr-28 border-solid border-[#E2E8F0]">
            <h1 class="font-bold text-[32px]">250+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
        <div class="flex flex-col items-center border-r-4 pr-28 border-solid border-[#E2E8F0]">
            <h1 class="font-bold text-[32px]">1000+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
        <div class="flex flex-col items-center border-r-4 pr-28 border-solid border-[#E2E8F0]">
            <h1 class="font-bold text-[32px]">15+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
        <div class="flex flex-col items-center ">
            <h1 class="font-bold text-[32px]">2400+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
    </div>
    <div class="px-16 py-16">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A]">Top Categories</h1>
            <p class="text-[#3B82F6] text-[14px]">See All</p>
        </div>
        <div class="flex justify-between mt-6">
            <ng-container *ngFor="let category of categories">
                <app-category-card 
                    [imageSrc]="category.imageSrc"
                    [title]="category.title"
                    [courseCount]="category.courseCount"
                ></app-category-card>
            </ng-container>
        </div>
        
    </div>
    <div class="px-16 py-10">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A]">Top Courses</h1>
            <button class="text-[#3B82F6] text-[14px]"><a class="font-medium" routerLink="/courses">See All</a></button>
        </div>
        <div class="flex justify-between mt-6">
            <ng-container *ngFor="let course of courses.slice(0, 4)">
                <app-course-card 
                [imageUrl]="course.imageUrl"
                [title]="course.title"
                [author]="course.author"
                [ratings]="course.ratings"
                [totalHours]="course.totalHours"
                [totalLectures]="course.totalLectures"
                [level]="course.level"
                [price]="course.price"
                [starCount]="course.starCount"
                >
                </app-course-card>
            </ng-container>
        </div>
    </div>
    <div class="px-16 py-10">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A]">Top Instructors</h1>
            <p class="text-[#3B82F6] text-[14px]">See All</p>
        </div>
        <div class="flex justify-between mt-6">
           <ng-container *ngFor="let instructor of instructors">
                <app-instructor-card
                    [imageUrl]="instructor.imageUrl"
                    [fullName]="instructor.fullName"
                    [profession]="instructor.profession"
                    [ratings]="instructor.ratings"
                    [studentsCount]="instructor.studentsCount"
                ></app-instructor-card>
            </ng-container>
        </div>
    </div>
    <div class="bg-[#F8FAFC] px-16 py-8">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A] w-[320px] leading-8">What Our Customer Say About Us</h1>
            <div class="flex items-center justify-center gap-4">
                <button class="bg-[#94A3B8] px-[20px] py-[10px] rounded-lg transform rotate-180">
                    <img src="../../../assets/arrow.png"/>
                </button>
                <button class="bg-[#94A3B8] px-[20px] py-[10px] rounded-lg ">
                    <img src="../../../assets/arrow.png"/>
                </button>
            </div>
        </div>
        <div class="flex gap-8 mt-6">
           <ng-container *ngFor="let comment of comments">
                <div class="carousel-item">
                    <app-customer-card 
                    [comment]="comment.comment"
                    [imageUrl]="comment.imageUrl"
                    [fullName]="comment.fullName"
                    [profession]="comment.profession"
                    ></app-customer-card>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="px-36 py-10 flex flex-col gap-6">
        <div class="flex justify-between items-center">
            <img src="../../../assets/female-instructor.png" alt="">
            <div class="flex flex-col gap-4">
                <h1 class="font-bold text-[20px]">Become an Instructor</h1>
                <p class="text-[#1D2939] text-[16px] w-[580px]">Instructors from around the world teach millions of students on Byway. 
                    We provide the tools and skills to teach what you love.
                </p>
                <button class="bg-[#020617] text-white flex items-center gap-4 px-[24px] py-[10px] rounded-lg max-w-max">Start Your Instructor Journey <img src="../../../assets/arrow-right.png" alt=""></button>
            </div>
        </div>
        <div class="flex justify-between items-center flex-row-reverse">
            <img src="../../../assets/male-instructor.png" alt="">
            <div class="flex flex-col gap-4">
                <h1 class="font-bold text-[20px]">Transform your life through education</h1>
                <p class="text-[#1D2939] text-[16px] w-[580px]">Learners around the world are launching new careers, advancing in their fields, and enriching their lives.
                </p>
                <button class="bg-[#020617] text-white flex items-center gap-4 px-[24px] py-[10px] rounded-lg max-w-max">Checkout Courses <img src="../../../assets/arrow-right.png" alt=""></button>
            </div>
        </div>
    </div>
</div>
