<div class="px-16 py-3">
    <div class="flex items-center justify-between h-[100vh]">
        <div class="flex flex-col gap-3 justify-items-start ">
            <h1 class="text-[40px] leading-14 text-[#0F172A] font-bold w-[480px]">Unlock Your Potential with Byway</h1>
            <h3 class="text-[#64748B] w-[590px]">Welcome to Byway, where learning knows no bounds. We believe that education is the key to 
                personal and professional growth, and we're here to guide you on your journey to success. 
                Whether you're a student, professional, or lifelong learner, 
                our cutting-edge Learning Management System is designed to elevate your learning experience.
            </h3>
            <button class="bg-[#2563EB] text-white font-medium rounded-md py-3 max-w-max px-4">Start your instructor journey</button>
        </div>
        <img src="../../../assets/banner-image.png"/>
    </div>
    <div>
        sdksklddklsdkl
    </div>
</div>
