<div class="">
    <div class="flex items-center justify-between h-[100vh] px-16 py-3">
        <div class="flex flex-col gap-3 justify-items-start ">
            <h1 class="text-[40px] leading-14 text-[#0F172A] font-bold w-[480px]">Unlock Your Potential with Byway</h1>
            <h3 class="text-[#64748B] w-[590px]">Welcome to Byway, where learning knows no bounds. We believe that education is the key to 
                personal and professional growth, and we're here to guide you on your journey to success. 
                Whether you're a student, professional, or lifelong learner, 
                our cutting-edge Learning Management System is designed to elevate your learning experience.
            </h3>
            <button class="bg-[#2563EB] text-white font-medium rounded-md py-3 max-w-max px-4">Start your instructor journey</button>
        </div>
        <img src="../../../assets/banner-image.png"/>
    </div>
    <div class="bg-[#F8FAFC] flex items-center justify-between px-16 py-8">
        <div class="flex flex-col items-center border-r-4 pr-28 border-solid border-[#E2E8F0]">
            <h1 class="font-bold text-[32px]">250+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
        <div class="flex flex-col items-center border-r-4 pr-28 border-solid border-[#E2E8F0]">
            <h1 class="font-bold text-[32px]">1000+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
        <div class="flex flex-col items-center border-r-4 pr-28 border-solid border-[#E2E8F0]">
            <h1 class="font-bold text-[32px]">15+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
        <div class="flex flex-col items-center ">
            <h1 class="font-bold text-[32px]">2400+</h1>
            <p class="text-[14px] font-medium">Courses by our best mentors</p>
        </div>
    </div>
    <div class="px-16 py-16">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A]">Top Categories</h1>
            <p class="text-[#3B82F6] text-[14px]">See All</p>
        </div>
        <div class="flex justify-between mt-6">
            <app-category-card 
                [imageSrc]="'../../assets/astrology.png'"
                 [title]="'Astrology'"
                 [courseCount]="11"
            >
            </app-category-card>
            <app-category-card 
                [imageSrc]="'../../assets/code-browser.png'"
                 [title]="'Development'"
                 [courseCount]="12"
            >
            </app-category-card>
            <app-category-card 
                [imageSrc]="'../../assets/briefcase.png'"
                 [title]="'Marketing'"
                 [courseCount]="12"
            >
            </app-category-card>
            <app-category-card 
                [imageSrc]="'../../assets/physics.png'"
                 [title]="'Physics'"
                 [courseCount]="14"
            >
            </app-category-card>
        </div>
        
    </div>
    <div class="px-16 py-10">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A]">Top Courses</h1>
            <p class="text-[#3B82F6] text-[14px]">See All</p>
        </div>
        <div class="flex justify-between mt-6">
            <app-course-card 
                [imageUrl]="'../../assets/programming-course.png'"
                [title]="'Beginner’s Guide to Design'"
                [author]="'Ronald Richards'"
                [ratings]="1200"
                [totalHours]="22"
                [totalLectures]="155"
                [level]="'Beginner'"
                [price]="149.9"
                [starCount]="5"
            ></app-course-card>
            <app-course-card 
                [imageUrl]="'../../assets/programming-course.png'"
                [title]="'Beginner’s Guide to Design'"
                [author]="'Ronald Richards'"
                [ratings]="1200"
                [totalHours]="22"
                [totalLectures]="155"
                [level]="'Beginner'"
                [price]="149.9"
                [starCount]="5"
            ></app-course-card>
            <app-course-card 
                [imageUrl]="'../../assets/programming-course.png'"
                [title]="'Beginner’s Guide to Design'"
                [author]="'Ronald Richards'"
                [ratings]="1200"
                [totalHours]="22"
                [totalLectures]="155"
                [level]="'Beginner'"
                [price]="149.9"
                [starCount]="5"
            ></app-course-card>
            <app-course-card 
                [imageUrl]="'../../assets/programming-course.png'"
                [title]="'Beginner’s Guide to Design'"
                [author]="'Ronald Richards'"
                [ratings]="1200"
                [totalHours]="22"
                [totalLectures]="155"
                [level]="'Beginner'"
                [price]="149.9"
                [starCount]="5"
            ></app-course-card>
        </div>
    </div>
    <div class="px-16 py-10">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A]">Top Instructors</h1>
            <p class="text-[#3B82F6] text-[14px]">See All</p>
        </div>
        <div class="flex justify-between mt-6">
           <app-instructor-card
            [imageUrl]="'../../assets/programmer.jpg'"
            [fullName]="'Ronald Richards'"
            [profession]="'UI/UX Designer'"
            [ratings]="4.9"
            [studentsCount]="2400"
           >
           </app-instructor-card>
           <app-instructor-card
            [imageUrl]="'../../assets/programmer.jpg'"
            [fullName]="'Ronald Richards'"
            [profession]="'UI/UX Designer'"
            [ratings]="4.9"
            [studentsCount]="2400"
           >
           </app-instructor-card>
           <app-instructor-card
            [imageUrl]="'../../assets/programmer.jpg'"
            [fullName]="'Ronald Richards'"
            [profession]="'UI/UX Designer'"
            [ratings]="4.9"
            [studentsCount]="2400"
           >
           </app-instructor-card>
           <app-instructor-card
            [imageUrl]="'../../assets/programmer.jpg'"
            [fullName]="'Ronald Richards'"
            [profession]="'UI/UX Designer'"
            [ratings]="4.9"
            [studentsCount]="2400"
           >
           </app-instructor-card>
           <app-instructor-card
            [imageUrl]="'../../assets/programmer.jpg'"
            [fullName]="'Ronald Richards'"
            [profession]="'UI/UX Designer'"
            [ratings]="4.9"
            [studentsCount]="2400"
           >
           </app-instructor-card>
        </div>
    </div>
    <div class="bg-[#F8FAFC] px-16 py-8">
        <div class="flex justify-between">
            <h1 class="font-bold text-[24px] text-[#0F172A] w-[320px] leading-8">What Our Customer Say About Us</h1>
            <div class="flex items-center justify-center gap-4">
                <button class="bg-[#94A3B8] px-[20px] py-[10px] rounded-lg transform rotate-180">
                    <img src="../../../assets/arrow.png"/>
                </button>
                <button class="bg-[#94A3B8] px-[20px] py-[10px] rounded-lg ">
                    <img src="../../../assets/arrow.png"/>
                </button>
            </div>
        </div>
        <div class="flex gap-8 mt-6">
            <app-customer-card>

            </app-customer-card>
            <app-customer-card>

            </app-customer-card>
            <app-customer-card>

            </app-customer-card>
        </div>
    </div>
</div>
