<div>
    <div class="px-16 py-16 flex flex-col gap-8">
        <div class="flex items-center gap-4">
            <p class="text-[14px] text-[#334155]">Home</p>
            <img src="../../../assets/arrow-left.png" alt="" class="rotate-180">
            <p class="text-[14px] text-[#334155]">Categories</p>
            <img src="../../../assets/arrow-left.png" alt="" class="rotate-180">
            <p class="text-[14px] text-[#2563EB]">Checkout</p>
        </div>
        <div  class="flex justify-between">
            <form [formGroup]="checkoutForm"   class="rounded border-[1px] border-solid border-[#E2E8F0] p-4 flex flex-col gap-4 w-[60%]">
                <div class="flex justify-between">
                    <div class="flex flex-col gap-2 w-[350px]" >
                        <label class="text-[14px] font-semibold w-full">Country</label>
                        <input 
                            type="text" 
                            placeholder="Enter Country" 
                            formControlName="country"
                            class="border-[1px] border-solid border-[#E2E8F0] px-4 py-3 rounded-md outline-none" 
                            [ngClass]="{
                                'border-gray-300': checkoutForm.get('country')?.pristine,
                                'border-red-500': checkoutForm.get('country')?.invalid && (checkoutForm.get('country')?.dirty || formSubmitted),
                                'border-green-500': checkoutForm.get('country')?.valid && (checkoutForm.get('country')?.dirty || formSubmitted)
                            }"
                        >
                    </div>
                    <div class="flex flex-col gap-2 w-[350px]" >
                        <label class="text-[14px] font-semibold ]">State/Union Territory</label>
                        <input 
                            type="text" 
                            placeholder="Enter State" 
                            formControlName="state"
                            class="border-[1px] w-full border-solid border-[#E2E8F0] px-4 py-3 rounded-md outline-none"
                            [ngClass]="{
                                'border-gray-300': checkoutForm.get('state')?.pristine,
                                'border-red-500': checkoutForm.get('state')?.invalid && (checkoutForm.get('state')?.dirty || formSubmitted),
                                'border-green-500': checkoutForm.get('state')?.valid && (checkoutForm.get('state')?.dirty || formSubmitted)
                            }"
                        >
                    </div>
                </div>
                <div class="flex flex-col gap-2" >
                    <label class="text-[14px] font-semibold w-full">Name of Card</label>
                    <input 
                        type="text" 
                        placeholder="Name of card" 
                        class="border-[1px] border-solid border-[#E2E8F0] px-4 py-3 rounded-md outline-none"
                        formControlName="cardName" 
                        [ngClass]="{
                            'border-gray-300': checkoutForm.get('cardName')?.pristine,
                            'border-red-500': checkoutForm.get('cardName')?.invalid && (checkoutForm.get('cardName')?.dirty || formSubmitted),
                            'border-green-500': checkoutForm.get('cardName')?.valid && (checkoutForm.get('cardName')?.dirty || formSubmitted)
                        }"
                    >
                </div>
                <div class="flex flex-col gap-2" >
                    <label class="text-[14px] font-semibold w-full">Card Number</label>
                    <input 
                        type="text" 
                        placeholder="Card Number" 
                        class="border-[1px] border-solid border-[#E2E8F0] px-4 py-3 rounded-md outline-none"
                        formControlName="cardNumber" 
                        [ngClass]="{
                            'border-gray-300': checkoutForm.get('cardNumber')?.pristine,
                            'border-red-500': checkoutForm.get('cardNumber')?.invalid && (checkoutForm.get('cardNumber')?.dirty || formSubmitted),
                            'border-green-500': checkoutForm.get('cardNumber')?.valid && (checkoutForm.get('cardNumber')?.dirty || formSubmitted)
                        }"
                    >
                </div>
                <div class="flex justify-between w-full">
                    <div class="flex flex-col gap-2 w-[350px]" >
                        <label class="text-[14px] font-semibold w-full">Expiry Date</label>
                        <input 
                            type="date" 
                            placeholder="Enter Expiry Date" 
                            class="border-[1px] border-solid border-[#E2E8F0] px-4 py-3 rounded-md outline-none" 
                            formControlName="expiryDate" 
                            [ngClass]="{
                                'border-gray-300': checkoutForm.get('expiryDate')?.pristine,
                                'border-red-500': checkoutForm.get('expiryDate')?.invalid && (checkoutForm.get('expiryDate')?.dirty || formSubmitted),
                                'border-green-500': checkoutForm.get('expiryDate')?.valid && (checkoutForm.get('expiryDate')?.dirty || formSubmitted)
                            }"
                        >
                    </div>
                    <div class="flex flex-col gap-2 w-[350px]" >
                        <label class="text-[14px] font-semibold w-full">CVC/CVV</label>
                        <input 
                            formControlName="cvc"
                            type="text" 
                            placeholder="Enter CVC/CVV"  
                            class="border-[1px] border-solid px-4 py-3 rounded-md outline-none" 
                            [ngClass]="{
                                'border-gray-300': checkoutForm.get('cvc')?.pristine,
                                'border-red-500': checkoutForm.get('cvc')?.invalid && (checkoutForm.get('cvc')?.dirty || formSubmitted),
                                'border-green-500': checkoutForm.get('cvc')?.valid && (checkoutForm.get('cvc')?.dirty || formSubmitted)
                            }"
                        >
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex justify-between bg-[#F8FAFC] px-3 py-2 rounded-md">
                        <label  class="text-[14px] font-semibold w-full">
                            <input type="radio" formControlName="paymentMethod" value="paypal">
                            PayPal
                        </label>
                        <img src="../../../assets/paypal.png" alt="">
                    </div>
                    <div class="flex justify-between bg-[#F8FAFC] px-3 py-2 rounded-md">
                        <label  class="text-[14px] font-semibold w-full">
                            <input type="radio" formControlName="paymentMethod" value="visa">
                            Visa
                        </label>
                        <img src="../../../assets/visa.png" alt="">
                    </div>
                </div>
            </form>

             
            <div  class="w-[30%] flex flex-col gap-4">
                <div *ngFor="let item of cartItems" class="rounded-md border-[1px] border-solid border-[#E2E8F0] shadow-md shadow-[#3B82F61F] py-2 px-2 flex justify-between">
                    <div class="flex items-center gap-4">
                        <img src="../../../assets/programming-course.png" alt="" class="w-[140px] h-full rounded-md">
                        <div class="flex flex-col gap-2">
                            <p class="text-[#2563EB] text-[14px]">By {{item.author}}</p>
                            <h2 class="font-bold text-[14px]">{{item.title}}</h2>
                            <p class="text-[14px] text-[#334155]">{{item.totalHours}} Total Hours. {{item .totalLectures}} Lectures. All levels</p>
                            <p class="font-bold text-[16px]">${{item.price}}</p>
                        </div>
                    </div>
                </div>
                <h1 class="text-[20px] font-bold">Order Details</h1>
                <div class="bg-[#F8FAFC] border-[1px] border-solid border-[#E2E8F0]  p-4 flex flex-col gap-4 rounded-lg">
                    <div class="flex justify-between items-center">
                        <p class="text-[14px] text-[#0F172A]">Price</p>
                        <h1 class="text-[18px] font-bold">{{ getTotalAmount() }}</h1>
                    </div>
                    <div class="flex justify-between items-center">
                        <p class="text-[14px] text-[#0F172A]">Discount</p>
                        <h1 class="text-[18px] font-bold">-$10.00</h1>
                    </div>
                    <div class="flex justify-between items-center">
                        <p class="text-[14px] text-[#0F172A]">Tax</p>
                        <h1 class="text-[18px] font-bold">$20.00</h1>
                    </div>
                    <div class="flex justify-between items-center border-t-2 pt-2 border-black">
                        <h1 class="text-[18px] font-bold">Total</h1>
                        <h1 class="text-[18px] font-bold">$290.00</h1>
                    </div>
                </div>
                   <button (click)="onSubmit()" class="text-white bg-black rounded-md py-4 w-full">Proceed to Checkout</button>
            </div>
        </div>
    </div>
</div>